body {
  margin:0;
  border:0;
  
}

body {
  background-image: url(media2/bg_results.png);
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
  background-size:cover; 
}

.speech{
  display:flex;

}


.voice-record {
  height: 50px;
  width: 50px;
  border-radius: 30%;
  margin-top: 10px;
  margin-left: -82px;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: #5f8ebb; /* Adjusted background color */
  color: #050507;
  border: none; /* Removed border for a cleaner look */
  font-family: 'Times New Roman', Times, serif;
  font-size: 90%;
  transition: all 0.3s ease; /* Added transition for smoother hover effect */
}

.voice-record:hover {
  box-shadow: 0 0 10px rgba(235, 8, 8, 0.852); /* Added box-shadow effect */
}

/* Animation for box-shadow */
@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(235, 8, 8, 0.852);
  }
  50% {
    box-shadow: 0 0 15px rgba(175, 11, 11, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(235, 8, 8, 0.852);
  }
}

.voice-record:hover {
  animation: pulse 1s infinite; /* Applied animation to hover */
}





.speech{
  height:35rem;
  width:70rem;
  margin-top: 5rem;
  margin-left:50vh;
  background-color: #D6D7E0;
  border-radius: 1rem;
  text-align:center;
  padding-top: 0.5rem;
  color:#001427;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
  padding-top: 10px;
}


.speech h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#001427;
  font-size:2rem;
}


.speech p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#001427;
  font-size: larger;
  text-align: left;
  padding-left:5rem;
  padding-right: 3rem;
}

.speech::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(128,152,143);
	background-color: #F5F5F5;
}

.speech::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.speech::-webkit-scrollbar-thumb
{
	background-color: rgb(128,152,143);
	border: 1px solid #555555;
}
